* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

header{
    margin: 44px 0 144px 76px
}


.link-header { 
   font-weight: 600;
   font-size: 14px;
    line-height: 29px; 
    color: #000000;
    cursor: pointer;
    margin-right: 23px;

}

.button-header {
    width: 130px;
    height: 41px;
    background: rgba(111, 191, 68, 1);
    border-radius: 20.5px;
    border: 1px solid rgba(76, 181, 56, 1);
    color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.logo-image { 
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

section {
    display: inline-block;
    vertical-align: top;
    width: 445px;
    margin-left: 100px;
    margin-top: 100px;
}   

h1 {
    font-weight: 900;
    font-size: 62px;
    line-height: 78px;
    color: rgba(22, 26, 73, 1);
    margin-bottom: 16px;
}


p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(75, 80, 90, 1);
    margin-bottom: 40px;
    max-width: 445px;
    width: 515px;
    
}
.link-main {

    width: 245px;
    height: 61px;
    background: none;
    border-radius: 30px;
    border: none;
    font-weight: 700px;
    font-size: 24px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: rgba(111, 191, 68, 1)
}


